.shopingContainer {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.shopingContainer h5 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 17px;
    text-transform: capitalize;
}









.removeButton {
   
}



