.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.errorContainer>a {
    color: rgb(13 110 253);
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s;
}

.errorContainer>a:hover {
    color:rgb(4, 56, 133) ;
}