


.boxContainer {
  width: 150px;
  transition: 0.3s;
  position: relative;
}

.boxContainer:hover {
  transform: scale(1.1);
}



.likedContainer{
  width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}



.boxContainer button {
  width: 100%;
  transition: 0.3;
}


/* media query */
@media (max-width: 500px) {

  .boxContainer {
    width: 130px;
  }
}


